<h2>What is happening today?</h2>
<div class="row">
	<div class="col-md-8">
		<%= render partial: 'show_concerts', locals: { concerts: @today_concerts} %>
	</div>
	
	<div class="col-md-4">
		<aside>
			<p>Later this month:</p>
			<ul class="list-unstyled">
				<% @monthly_concerts.each do |concert| %>
					<li>
						<%= image_tag concert.poster.url(:thumb) %>
						<%= link_to concert.band, concert_path(concert.id) %>
					</li>
				<% end %>
			</ul>
		</aside>
	</div>

</div>

