<form action="/add_new_task" method="post">
	<div class="centered-text">
		<input type="text" name="new_task">
	</div>
	
	<div class="centered-text">
		<button type="submit" name="add_task">ADD_TASK</button>
	</div>
</form>
